<section class="experience" id="Gallery">
    <div class="container container-column">
        <div class="title-container">
            <h2 class="experience-title">Coffee Moments</h2>
            <p class="experience-text">Experience the warmth and community of CoffeeJoy.</p>
        </div>
      <ul class="experience-grid-list">
        <li class="experience-img">
          <picture>
            <source media="(min-width: 1440px)"
                    srcset="images/experience/experience-img-one-desk-1x.png 1x, images/experience/experience-img-one-desk-2x.png 2x">

            <source media="(min-width: 768px)"
                    srcset="images/experience/experience-img-one-tab-1x.png 1x, images/experience/experience-img-one-tab-2x.png 2x">

            <img src="images/experience/experience-img-one-mob-1x.png"
                 srcset="images/experience/experience-img-one-mob-2x.png 2x" alt="cappuccino" width="288"
                 loading="lazy">
          </picture>
        </li>
        <li class="experience-img">
          <picture>
            <source media="(min-width: 1440px)"
                    srcset="images/experience/experience-img-two-desk-1x.png 1x, images/experience/experience-img-two-desk-2x.png 2x">

            <source media="(min-width: 768px)"
                    srcset="images/experience/experience-img-two-tab-1x.png 1x, images/experience/experience-img-two-tab-2x.png 2x">

            <img src="images/experience/experience-img-two-mob-1x.png"
                 srcset="images/experience/experience-img-two-mob-2x.png 2x" alt="croissant" width="288"
                 loading="lazy">
          </picture>
        </li>
        <li class="experience-img">
          <picture>
            <source media="(min-width: 1440px)"
                    srcset="images/experience/experience-img-three-desk-1x.png 1x, images/experience/experience-img-three-desk-2x.png 2x">

            <source media="(min-width: 768px)"
                    srcset="images/experience/experience-img-three-tab-1x.png 1x, images/experience/experience-img-three-tab-2x.png 2x">

            <img src="images/experience/experience-img-three-mob-1x.png"
                 srcset="images/experience/experience-img-three-mob-2x.png 2x" alt="book" width="288"
                 loading="lazy">
          </picture>
        </li>
        <li class="experience-img">
          <picture>
            <source media="(min-width: 1440px)"
                    srcset="images/experience/experience-img-four-desk-1x.png 1x, images/experience/experience-img-four-desk-2x.png 2x">

            <source media="(min-width: 768px)"
                    srcset="images/experience/experience-img-four-tab-1x.png 1x, images/experience/experience-img-four-tab-2x.png 2x">

            <img src="images/experience/experience-img-four-mob-1x.png"
                 srcset="images/experience/experience-img-four-mob-2x.png 2x" alt="coffe" width="288"
                 loading="lazy">
          </picture>
        </li>
        <li class="experience-img">
          <picture>
            <source media="(min-width: 1440px)"
                    srcset="images/experience/experience-img-five-desk-1x.png 1x, images/experience/experience-img-five-desk-2x.png 2x">

            <source media="(min-width: 768px)"
                    srcset="images/experience/experience-img-five-tab-1x.png 1x, images/experience/experience-img-five-tab-2x.png 2x">

            <img src="images/experience/experience-img-five-mob-1x.png"
                 srcset="images/experience/experience-img-five-mob-2x.png 2x" alt="coffee joy" width="288"
                 loading="lazy">
          </picture>
        </li>
        <li class="experience-img">
          <picture>
            <source media="(min-width: 1440px)"
                    srcset="images/experience/experience-img-six-desk-1x.png 1x, images/experience/experience-img-six-desk-2x.png 2x">

            <source media="(min-width: 768px)"
                    srcset="images/experience/experience-img-six-tab-1x.png 1x, images/experience/experience-img-six-tab-2x.png 2x">

            <img src="images/experience/experience-img-six-mob-1x.png"
                 srcset="images/experience/experience-img-six-mob-2x.png 2x" alt="two cups of coffe"
                 width="288" loading="lazy">
          </picture>
        </li>
        <li class="experience-img">
          <picture>
            <source media="(min-width: 1440px)"
                    srcset="images/experience/experience-img-seven-desk-1x.png 1x, images/experience/experience-img-seven-desk-2x.png 2x">

            <source media="(min-width: 768px)"
                    srcset="images/experience/experience-img-seven-tab-1x.png 1x, images/experience/experience-img-seven-tab-2x.png 2x">

            <img src="images/experience/experience-img-seven-mob-1x.png"
                 srcset="images/experience/experience-img-seven-mob-2x.png 2x" alt="glass of coffe"
                 width="288" loading="lazy">
          </picture>
        </li>
      </ul>
    </div>
</section>
