<div class="container mobile-menu" data-menu>
  <div class="mobile-logo-close">
    <a class="mobile-logo-link" href="/index.html">
      <svg class="mobile-logo" width="63" height="36">
        <use xlink:href="#icon-icon-logosvg"></use>
      </svg>
    </a>
    <button class="mobile-close-btn" type="button" data-menu-close>
      <svg class="mobile-close" width="24" height="24  ">
        <use xlink:href="#icon-icon-xsvg"></use>
      </svg>
    </button>
  </div>
  <nav class="mobile-nav">
    <ul class="mobile-nav-list">
      <li class="mobile-nav-item">
        <a class="mobile-item-link" href="">About us</a>
      </li>
      <li class="mobile-nav-item">
        <a class="mobile-item-link" href="">Benefits</a>
      </li>
      <li class="mobile-nav-item">
        <a class="mobile-item-link" href="">Gallery</a>
      </li>
      <li class="mobile-nav-item">
        <a class="mobile-item-link" href="">Testimonial</a>
      </li>
      <li class="mobile-nav-item">
        <a class="mobile-item-link" href="">Location</a>
      </li>
    </ul>
  </nav>
</div>
