<section id="quality" class="quality-section">
    <div class="quality-container">
        <div class="quality-intro">
            <p class="quality-section-name">Quality</p>
            <h2 class="quality-section-title">Why CoffeeJoy Stands Out from the Rest</h2>
            <p class="quality-descr">At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee, crafted
                with care by our skilled baristas. Our flexible subscription plans ensure that your coffee experience is tailored to your needs.</p>
        </div>
            <ul class="quality-list">
                <!-- Card 1 -->
                <li class="quality-item">
                    <article class="quality-card">
                        <picture class="quality-medias">
                            <source media="(min-width: 1440px)" srcset="/images/quality/quality-fresh-desk-1x.jpg, /images/quality/quality-fresh-desk-2x.jpg 2x">
                            <source media="(min-width: 768px)" srcset="/images/quality/quality-fresh-tab-1x.jpg, /images/quality/quality-fresh-tab-2x.jpg 2x">
                            <img src="/images/quality/fresh.jpg" srcset="/images/quality/quality-fresh-mob-1x.jpg, /images/quality/quality-fresh-mob-2x.jpg 2x" alt="Freshly roasted coffee beans" width="288" height="164">
                        </picture>
                        <h3 class="quality-item-title">Fresh-Roasted Coffee for Every Taste</h3>
                        <p class="quality-item-descr">Savor the rich flavors of our expertly sourced beans.</p>
                    </article>
                </li>
                <!-- Card 2 -->
                <li class="quality-item">
                    <article class="quality-card">
                        <picture class="quality-medias">
                            <source media="(min-width: 1440px)"
                                srcset="/images/quality/quality-expert-desk-1x.jpg, /images/quality/quality-expert-desk-2x.jpg 2x">
                            <source media="(min-width: 768px)"
                                srcset="/images/quality/quality-expert-tab-1x.jpg, /images/quality/quality-expert-tab-2x.jpg 2x">
                            <img src="/images/quality/expert.jpg" srcset="./images/quality/quality-expert-mob-1x.jpg, ./images/quality/quality-expert-mob-2x.jpg 2x"
                                alt="Barista pouring coffee into a cup" width="288" height="164">
                        </picture>
                        <h3 class="quality-item-title">Expert Baristas Crafting Your Perfect Brew</h3>
                        <p class="quality-item-descr">Our baristas are passionate about coffee and skilled in their craft.</p>
                    </article>
                </li>
                <!-- Card 3 -->
                <li class="quality-item">
                    <article class="quality-card">
                        <picture class="quality-medias">
                            <source media="(min-width: 1440px)"
                                srcset="/images/quality/quality-cozy-desk-1x.jpg, /images/quality/quality-cozy-desk-2x.jpg 2x">
                            <source media="(min-width: 768px)"
                                srcset="/images/quality/quality-cozy-tab-1x.jpg, /images/quality/quality-cozy-tab-2x.jpg 2x">
                            <img src="/images/quality/cozy.jpg"
                                srcset="/images/quality/quality-cozy-mob-1x.jpg /images/quality/quality-cozy-mob-2x.jpg 2x" alt="Seating area inside the cafe"
                                width="288" height="164">
                        </picture>
                        <h3 class="quality-item-title">Cozy Atmosphere</h3>
                        <p class="quality-item-descr">We don’t just serve coffee — we create a warm and welcoming space where every cup feels like home.</p>
                    </article>
                </li>
            </ul>
    </div>
</section>