<section class="testimonials">
  <div class="container">
    <div class="section">
      <h2 class="testimonials-title section-title">What our visitors say</h2>
      <ul class="testimonials-list">
        <li class="testimonials-item">
          <ul class="testimonials-wrapper-list">
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon-accent" width="20" height="19">
                <use href="/images/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-text">
            "Every cup feels like a warm hug! I’m addicted to their seasonal
            flavors!"
          </p>
          <p class="testimonials-name">Name Surname</p>
        </li>
        <li class="testimonials-item">
          <ul class="testimonials-wrapper-list">
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon-accent" width="20" height="19">
                <use href="/images/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-text">
            "CoffeeJoy is my go-to place for a perfect cup of coffee! The
            ambiance is so inviting, and the baristas are always friendly."
          </p>
          <p class="testimonials-name">Alice Johnson</p>
        </li>
        <li class="testimonials-item">
          <ul class="testimonials-wrapper-list">
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-text">
            "I love the variety of blends offered at CoffeeJoy. Every visit
            feels like a new experience!"
          </p>
          <p class="testimonials-name">Michael Smith</p>
        </li>
        <li class="testimonials-item">
          <ul class="testimonials-wrapper-list">
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon-accent" width="20" height="19">
                <use href="/images/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon-accent" width="20" height="19">
                <use href="/images/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-text">
            "The pastries are to die for! I can’t resist pairing them with my
            favorite latte. Highly recommend this spot!"
          </p>
          <p class="testimonials-name">Emily Davis</p>
        </li>
        <li class="testimonials-item">
          <ul class="testimonials-wrapper-list">
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-text">
            "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
            here every weekend!"
          </p>
          <p class="testimonials-name">James Brown</p>
        </li>
        <li class="testimonials-item">
          <ul class="testimonials-wrapper-list">
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon-accent" width="20" height="19">
                <use href="/images/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon-accent" width="20" height="19">
                <use href="/images/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-text">
            "The atmosphere is perfect for working or relaxing with friends.
            Their Wi-Fi is fast too!"
          </p>
          <p class="testimonials-name">Sarah Wilson</p>
        </li>
        <li class="testimonials-item">
          <ul class="testimonials-wrapper-list">
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon-accent" width="20" height="19">
                <use href="/images/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-text">
            "I’m addicted to their seasonal flavors! Each one is crafted with
            such care and creativity."
          </p>
          <p class="testimonials-name">Chris Lee</p>
        </li>
        <li class="testimonials-item">
          <ul class="testimonials-wrapper-list">
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon" width="20" height="19">
                <use href="/images/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-wrapper-item">
              <svg class="testimonials-icon-accent" width="20" height="19">
                <use href="/images/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-text">
            "I appreciate how they source their coffee beans sustainably. It's
            great to support such an ethical business!"
          </p>
          <p class="testimonials-name">Patricia Taylor</p>
        </li>
      </ul>
    </div>
  </div>
</section>
