/*EXPERIENCE*/

.title-container {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  max-width: 288px;
  margin-bottom: 24px;
}

.experience-text {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  max-width: 288px;
  margin-bottom: 32px;
}

.experience-grid-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.experience-img {
  width: 100%;
  max-width: 288px;
}

.experience-img img {
  display: block;
  width: 100%;
  border-radius: 32px;
  object-fit: cover;
}

.div1 img,
.div2 img,
.div5 img,
.div6 img {
  height: 288px;
}

.div3 img,
.div4 img {
  height: 162px;
}

.div7 img {
  height: 391px;
}

@media screen and (min-width: 768px) {
  .experience-title {
    width: 100%;
    max-width: 768px;
  }

  .experience-text {
    width: 100%;
    max-width: 768px;
  }

  .experience-grid-list {
    display: grid;
    grid-template-columns: repeat(2, 336px);
    column-gap: 32px;
    row-gap: 32px;
    justify-content: center;
    max-width: 768px;
    margin: 0 auto;
  }

  .experience-img {
    max-width: none;
  }

  .experience-img img {
    object-fit: cover;
  }

  .div3 img,
  .div4 img {
    height: 189px;
  }

  .div1 img,
  .div2 img,
  .div5 img,
  .div6 img {
    height: 336px;
  }

  .div7 {
    grid-column: span 2;
  }

  .div7 img {
    width: 704px;
    height: 391px;
  }
}
