.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.25);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms ease-in-out,
    visibility 250ms ease-in-out;
}

.backdrop.subscription-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.success-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 288px;
  min-height: 631px;
  background-color: #e0cbb4;
  border-radius: 40px;
  padding: 64px 16px;

  transition: transform 250ms ease-in-out;
}
.backdrop:not(.subscription-open) .success-modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-x-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;

  width: 32px;
  height: 32px;

  background-color: transparent;
  border: transparent;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, opacity 250ms ease-in-out;
}

.modal-x-btn:hover,
.modal-x-btn:focus {
    opacity: 0.5;
}
.modal-x-btn:active {
    opacity: 1;
    background-color: rgba(11, 8, 3, 0.1);
    border-radius: 100px;
}

.modal-x-icon{
    fill: #0b0803;
}

.modal-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #0b0803;
  width: 256px;
  height: 114px;
  margin: 0 auto;
}
.modal-picture {
    display: block;
    overflow: hidden;
}
.modal-img {
    border:none;
    display: block;
    margin-top: 24px;
    border-radius: 24px;
    overflow: hidden;
    width: 256px;
    height: 200px;
}

.modal-text{
    font-weight: 400;
font-size: 18px;
line-height: 1.5;
text-align: center;
color: #0b0803;
margin-top:16px;
}

.modal-close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px auto 0;

    width: 256px;
    height: 44px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #6f4e37;
    border-radius: 100px;
    border:transparent;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    transition: opacity 250ms ease-in-out;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    opacity: 0.5;
}
.modal-close-btn:active {
    opacity: 1;
    box-shadow: none;
}


@media screen and (min-width: 768px) {
  .success-modal {
    width: 704px;
    min-height: 771px;
    padding: 64px 30px;
  }
  .modal-title {
    width: 502px;
    height: 86px;
    font-size: 36px;
  }
  .modal-img{
    border-radius: 40px;
    margin: 48px auto 0;
    width: 644px;
    height: 374px;
  }
  .modal-close-btn{
    width: 340px;
    margin: 48px auto 0;
  }
  
}
@media screen and (min-width: 1440px) {
  .success-modal {
    width: 866px;
    min-height: 801px;
    padding: 64px;
  }
  .modal-x-btn {
    right: 73px;
  }
  .modal-title {
    width: 736px;
    height: 116px;
    font-size: 48px;
  }
  
  .modal-close-btn{
    width: 274px;
  }
}