.footer {
}

.footer-container {
  background-color: #b58869;

  padding: 24px 16px;
}

.footer-content {
  background-color: #c29d84;

  border: 1px solid rgba(11, 8, 3, 0.15);
  border-radius: 40px;
  padding: 32px 48px;
  width: 288px;
  height: 500px;

  margin: 0 auto 32px;
}

.footer-logo-social {
}

.footer-logo-link {
  width: 196px;
  height: 84px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  fill: #0b0803;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  margin-top: 40px;

  margin-bottom: 32px;
}

.footer-social-item {
}

.footer-social-link {
  width: 32px;
  height: 32px;
}

.footer-social-icon {
  fill: #0b0803;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.footer-nav-item {
}

.footer-item-link {
  line-height: 1.5;
  color: #0b0803;

  cursor: pointer;
}

.footer-text {
  font-size: 14px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  justify-content: center;
}
