.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-link {
  padding: 18px 0 18px;
  width: 84px;
  display: flex;
  justify-content: center;
}

.header-logo {
  fill: #0b0803;
}

.header-nav {
  display: none;
}

.header-burger-btn {
  width: 48px;
  height: 48px;
  background: none;
  border: none;
  margin: 12px 0 12px;
  cursor: pointer;
}

.header-burger-btn:hover,
.header-burger-btn:focus {
  opacity: 0.5;
}

.header-burger-btn:active {
  background-color: rgba(11, 8, 3, 0.1);
}

.header-burger {
  fill: #0b0803;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-left: 64px;
    padding-right: 64px;

    max-width: 768px;
  }

  .header-nav {
    display: block;
  }

  .header-nav-list {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }

  .header-item-link {
    line-height: 1.5;
    color: #0b0803;

    padding: 24px 0;
  }

  .header-item-link:hover {
    opacity: 0.5;
  }

  .header-item-link:focus {
    opacity: 0.7;
  }

  .header-item-link:active {
    opacity: 0.2;
  }

  .header-burger-btn {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
  }
}
