.mobile-menu {
  height: 100vh;

  width: 320px;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-logo-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 84px;

  padding: 18px 0;
}

.mobile-logo {
  fill: #0b0803;
}

.mobile-close-btn {
  width: 48px;
  height: 48px;

  padding: 0;

  background: none;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 12px 0;
}

.mobile-close {
  fill: #0b0803;
}

.mobile-nav {
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.mobile-nav-item {
}

.mobile-item-link {
  text-align: center;
  line-height: 1.5;
  color: #0b0803;

  padding: 16px;
}
