/* .testimonials {} */

.testimonials-title {
    margin-bottom: 24px;
}

.testimonials-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.testimonials-item {
    background-color: #c29d84;
    border: 1px solid rgba(11, 8, 3, 0.15);
    border-radius: 32px;
    padding: 32px;
    width: 100%;
}

.testimonials-wrapper-list {
    display: flex;
    gap: 4px;
}

/* .testimonials-wrapper-item {} */

.testimonials-icon {
    fill: #0b0803;
}

.testimonials-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #0b0803;
    margin-top: 24px;
}

.testimonials-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0803;
    margin-top: 24px;
}


@media screen and (min-width: 768px) {
    .testimonials-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .testimonials-item {
        width: calc((100% - 24px) / 2);
        min-height: 253px;
        display: flex;
        flex-direction: column;
    }

    .testimonials-name {
        margin-top: auto;
    }
}


@media screen and (min-width: 1440px) {
    .section-title {
        font-size: 48px;
        max-width: 416px;
    }

    .testimonials-item {
        width: calc((100% - 72px) / 4);
        min-height: 303px;
    }
}